<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head-default}">
    <title>Listagem de Usuários</title>
</head>
<body>

<nav th:replace="~{fragments/navbar :: navbar}"></nav>

<main class="content-flex-grow">
    <div class="container mt-5">
        <section class="borda-container">
            <h3 style="text-align: center; margin-bottom: 1.5rem;">Usuários Cadastrados no Sistema</h3>

            <div th:if="${sucesso}" class="alert alert-success" role="alert" th:text="${sucesso}"></div>
            <div th:if="${erro}" class="alert alert-danger" role="alert" th:text="${erro}"></div>

            <div class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead class="table-dark">
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">CPF</th>
                        <th scope="col" class="text-center">Ações</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="usuario : ${listaUsuarios}">
                        <td th:text="${usuario.nome}"></td>
                        <td th:text="${usuario.cpf}"></td>

                        <td class="text-center">
                            <a th:href="@{/usuario/editar(id=${usuario.id})}" class="btn btn-warning btn-sm" title="Editar Usuário">
                                <i class="bi bi-pencil-fill"></i>
                            </a>

                            <a th:href="@{/usuario/excluir(id=${usuario.id})}" class="btn btn-danger btn-sm" title="Excluir Usuário"
                               onclick="return confirm('Tem certeza que deseja excluir este usuário?');">
                                <i class="bi bi-trash-fill"></i>
                            </a>
                        </td>
                    <tr th:if="${#lists.isEmpty(listaUsuarios)}">
                        <td colspan="3" class="text-center">Nenhum usuário cadastrado no momento.</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="mt-4">
                <a th:href="@{/usuario/cadastroUsuario}" class="btn btn-success">Cadastrar Novo Usuário</a>
            </div>
        </section>
    </div>
</main>

<script>
    setTimeout(() => document.querySelectorAll('.alert').forEach(alert => alert.remove()), 3000);
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>