 .borda-container {
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    padding: 1.5rem;
    margin-bottom: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
 }

.table-container {
    max-height: 400px;
    overflow-y: auto;
}

.hidden {
    display: none;
}

.div-borda {
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-group {
    max-width: 500px;
}

.status-header {
    background-color: #e9ecef;
    font-weight: bold;
    text-align: center;
}

.exemplar-tooltip {
    position: absolute;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    padding: 0.5rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    z-index: 1000;
    display: none;
    max-width: 200px;
    white-space: normal;
}

.exemplar-icon:hover + .exemplar-tooltip,
.exemplar-tooltip:hover {
    display: block;
}

.table td form {
    margin: 0;
}

.table td form button {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}

.qr-tooltip {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #dee2e6;
    padding: 5px;
    z-index: 1000;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

 .custom-header {
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      background-color: #0056b3;
      padding: 10px 20px;
}

.custom-header .dropdown-toggle {
  color: #fff;
}

.custom-header .dropdown-toggle:hover {
  color: #e0e0e0;
}


.login-box {
    max-width: 450px;
    width: 100%;
    padding: 40px;
    border: 1px solid #ced4da;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    animation: fadeIn 0.8s ease-out;
}

.login-box h3 {
    text-align: center;
    margin-bottom: 30px;
    color: #343a40;
    font-weight: 600;
}

 body {
    background-color: #f0f2f5;
 }